python-box>=7.0.0
librosa==0.11.0
matplotlib==3.10.8
numpy>=1.26.0,<2.1.0
pandas==2.3.3
PyYAML==6.0.3
scikit-learn>=1.5.0
seaborn==0.13.2
soundfile==0.13.1
torch>=2.5.0
torchaudio>=2.5.0
torchvision>=0.20.0
tqdm==4.67.1
umap-learn==0.5.5